
a,
a:visited,
a:active,
a:hover,
a:link {
    text-decoration: none;
    color: white;
}

.header {
  background-color: #BBDEFB;
  color: #151B45;
  font-size: 14px;
  margin: 25px auto;
  margin-top: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100px;
}

.logo {
  margin-left: 10px;
  display: flex;
}

.menu {
  display: flex;
  font-size: 16px;
  margin: 15px;
  padding: 15px;
}

.menu a {
  color: #151B45;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

.menu a:hover {
  color: #3C8DC5;
  font-size: 20px;
}



.slider {
  width: 900px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider img {
  width: 900px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.slider img.active {
  opacity: 1;
  transform: translateX(0);
}

.slider img.next {
  transform: translateX(-100%);
}


.savings-section {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.container {
    max-width: 1100px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
    border-radius: 15px;
  }
  .search {
    display: flex;
    align-items: center;
    background-color: #f0f8ff;
    padding: 20px;
}

.search label {
    margin-right: 10px;
}

.search input {
    padding: 5px;
    margin-right: 10px;
}

.search button {
    background-color: #3C8DC5;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.search button:hover {
    background-color: #0056b3;
}
.search a{
  text-decoration: none;
  color: white;
}


  .promotions {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .promotion {
    margin-bottom: 20px;
    padding: 10px;
    overflow: hidden;
  }
  .promotion img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
  }
  .promotion h3 {
    margin: 0;
  }
  .promotion p {
    margin: 0;
  }



  .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group button {
    padding: 8px 15px;
    background-color: #3C8DC5;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  

  .section {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
  }
  
  .reviews {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .review {
    width: 300px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .review p {
    font-style: italic;
  }



  .footer{
    background: #ffffff;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .links {
    font-size: 12px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.link {
    margin-right: 10px;
}
.footer a, footer
a:visited, footer
a:active, footer
a:hover, footer
a:link {
  text-decoration: none;
  color: black;
}



.login-container {
    max-width: 400px;
    margin: 120px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
}

.login-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="password"],
button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
    background-color: #3C8DC5;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.button a{
  text-decoration: none;
  color: white;
}




.registration-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-container h2 {
  text-align: center;
}

.registration-form {
  margin-top: 20px;
}



.profile {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px;
}
.test-name,
.test-last {
    margin-right: 3px;
    margin-left: 2px;
    font-size: 18px;
}
.log-out{
  width: 100px;
  padding: 10px;
  margin: 100px;
  transform: translate(0 -40px);
  align-items: center;
  justify-content: center;
  display: flex;
}
.booking {
  border: 1px solid #6db0fe;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile p{
  margin: 20px;
}




.flight-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flight-card {
  border: 1px solid #6db0fe;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #3C8DC5;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

